// a dark mode chat bar for turntable.fm.
// dims all the bright colours for darker colours, replaces event and mention colours as well.
{ 
    
}.floating-panel-header, .floating-panel-bar {
    height: 36px;
    color: rgb(0,0,0);
    font-size: 13px;
    font-weight: bold;
    text-shadow: rgb(255 255 255) 0px 1px 0px;
    text-align: center;
    border-top: 0px solid rgb(0,0,0);
    border-bottom: 0px solid rgb(0,0,0);
    background-color: rgb(0,0,0);
    background-image: linear-gradient(rgb(42,40,40), rgb(63,61,61));
    background-repeat: repeat-x;
}
// background colour for chat
.messages { 
    background-color: #2f2f2f   
}
// chat font
.chat .messages { 
    color: #FFFFFF;rgb(0,0,0)
    position: absolute;
    top: 0;
    bottom: 38px;
    width: 100%;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
// every other chat message colour
.chat .message:nth-child(odd) { 
    background-color: #2f2f2f;
}
.chat .message {
    position: relative;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 18px;
    word-wrap: break-word;
    background: #262525;
    border-bottom: 0px solid #000000;
}
.chat .message.mention {
    background-color: #860b08;
}
.chat .message.action {
    color: #c00000;
    background-color:#dbe47f
}
