/* Work mode. (Compatible with my darkmode)Removes all distracting things like avatars, video and replaces the background etc. © Fluteds */

/* all stage assets */
#room-view {
    display: none;
}

/* video removal */
.screen-content {
    display: none;
}

/* background */
body {
    width: auto;
    background-image: url("https://raw.githubusercontent.com/fluteds/tttools/main/assets/workmode.png");
    background-color: rgb(204, 204, 204);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* speech bubble removal */
.speech-bubble {
    display: none;
}

/* audience removal */
#room-view>canvas:nth-child(4) {
    display: none !important;
}